  body{
      height: 100vh;
    font-size:35px;
    height: 100%;
    }
    /** ---------------------------------------
 * header 
 ----------------------------------------*/
 
.contact{
    width: 500px;
    margin-top: 350px;
    margin-left: 180px;
     line-height: 35px;
    }
.contact p{
      line-height: 0px;
      font-size: 18px;
      font-family:"Fixedsys",sans-serif;
      color: rgb(219, 138, 138);
    }
 .contact h1{
     font-size: 40px;
     font-family: 'Palatino', 'URW Palladio L', serif;
        color:#221d66;
    }
    .word2{
        position: absolute;
        z-index: 5;
        top: 0;
        right: 60px;
        width: 1px;
        height: 250px;
        display: block;
        border-right: 1px solid #140f61a2;   
    }
/* -------------------------------- */
 @media only screen and (max-width:1024px) {
.contact{
    width: 320px;
   padding-top: 300px;
   margin-left: 0;
   margin: 0 auto;
}
.contact p{
    font-size: 15px;
}
.contact h1{
    font-size: 25px;
    
}
.word2{
    display: none;
}
 }