body{
    background: #fff8f8;
    font-family:  "Fixedsys", sans-serif;
  font-size: 62.5%;
  color: #221d66;
}
.word,.word2{
    display: none;
}
.right_word{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
     width: 320px;
     margin-top: 150px;
   }
   .right_word p{
    font-size: 12px;
    font-family:  "Fixedsys", sans-serif;
    color: #221d66;
  }
  .right_word h1{
    font-family: 'Palatino', 'URW Palladio L', serif;
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
    color: #221d66;
  }
  footer{
    bottom: 0;
    height: 300px;
    width: 100%;
    -webkit-clip-path: polygon(0 85%, 100% 48%, 100% 100%, 0% 100%);
    clip-path: polygon(0 85%, 100% 48%, 100% 100%, 0% 100%);
    background:  rgba(255, 216, 198, 0.322);
  }
  .about_me{
    margin-top: 150px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
  }
  .about{
    width: 650px;
    font-size: 20px;
    margin-top: 150px;
    text-align: center;
  }
  .about h1{
    line-height: 80px;
    font-size: 25px;
    font-weight: bold;
    color: #221d66;
  }
  .about p{
    font-family:  "Fixedsys", sans-serif;
    line-height: 30px;
    font-size: 18px;
  }
  /* ---------------btn---------------------------- */
  .downward{
    margin-top: 90px; 
  }
.back:before {
  position: absolute;
  padding: 10px;
}
.button_base {
  margin: 0;
  border: 0;
  font-size: 18px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -100px;
  width: 200px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-user-select: none;
  font-family:  "Fixedsys", sans-serif;
}

.button_base:hover {
  cursor: pointer;
}
.b03_skewed_slide_in {
  overflow: hidden;
  border: #221d66 solid 1px;
}

.b03_skewed_slide_in div {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
}

.b03_skewed_slide_in div:nth-child(1) {
  color: #221d66;
  background-color: #fdfafa;
}

.b03_skewed_slide_in div:nth-child(2) {
  background-color: #0f0e0e;
  width: 230px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transform: translate(-250px, 0px) skewX(-30deg);
  -webkit-transform: translate(-250px, 0px) skewX(-30deg);
  -moz-transform: translate(-250px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in div:nth-child(3) {
  color: #fdfafa;
  left: -200px;
  transition: left 0.2s ease;
  -webkit-transition: left 0.2s ease;
  -moz-transition: left 0.2s ease;
}

.b03_skewed_slide_in:hover div:nth-child(2) {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transform: translate(-15px, 0px) skewX(-30deg);
  -webkit-transform: translate(-15px, 0px) skewX(-30deg);
  -moz-transform: translate(-15px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in:hover div:nth-child(3) {
  left: 0px;
  transition: left 0.30000000000000004s ease;
  -webkit-transition: left 0.30000000000000004s ease;
  -moz-transition: left 0.30000000000000004s ease;
}

  /* ----------arrow--------------------------- */
  .down{
    position: relative;
    margin-top: 100px;
  }
 
.down i{
  background:#221d66;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 50% 70%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 50% 70%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
  .arrow {
    white-space: nowrap;
    font-size: 4rem;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    transform: translateY(0);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 750ms ease-in-out;
    -ms-transition: all 750ms ease-in-out;
    -o-transition: all 750ms ease-in-out;
    transition: all 750ms ease-in-out;
  }
  
  /* this sets the position of the arrow when it's up, so it will move up or down by 14px when you add or remove this class */
  .lift {
    transform: translateY(14px);
  }
/* ------------------------------------- */
.diamond-container {
  position: relative;
  height: 500px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  transition: 0.5s ease;
  display: flex;
}

.diamond-outer {
  position: absolute;
  box-sizing: border-box;
  height: 222px;
  width: 222px;
  overflow: hidden;
  transform: rotate(45deg);
}

.diamond-outer:nth-child(1) {
  top: 55px;
  left: 222px;
}
.diamond-outer:nth-child(2) {
  top: 55px;
  left: 556px;
}
.diamond-outer:nth-child(3) {
  top: 222px;
  left: 55px;
}
.diamond-outer:nth-child(4) {
  top: 222px;
  left: 389px;
}
.diamond-outer:nth-child(5) {
  top: 222px;
  left: 723px;
}
.diamond-outer:nth-child(6) {
  top: 389px;
  left: 222px;
}
.diamond-outer:nth-child(7) {
  top: 389px;
  left: 556px;
}
.diamond-inner {
  position: absolute;
  height: 314px;
  width: 314px;
  top: -46px;
  left: -46px;
  background: #ffffff;
  transform: rotate(-45deg);
  transition: 0.3s ease;
  background-size: cover !important;
}

.diamond-inner a:hover {
  transition: 0.3s ease;
  filter: brightness(0.5);
}


@media screen and (max-width: 1023px) {
  .wrapper{
    margin: 0 auto;
    margin-top: 200px;
  }
  .right_word h1{
    font-family: 'Palatino', 'URW Palladio L', serif;
    font-size: 45px;
    line-height: 65px;
    font-weight: bold;
  }
  .page_top{
    position: fixed;
    z-index: 3;
    top: 630px;
    right: 0px;
    display: block;  
    font-family:  "Fixedsys", sans-serif;
  }
  .diamond-container {
    max-width: 501px;
    height: 1100px;
  }
  .diamond-container::before {
    left: 50%;
    font-size: 28px;
    opacity: 1;
  }
  .diamond-outer:nth-child(1) {
    top: 55px;
    left: 55px;
  }
  .diamond-outer:nth-child(2) {
    top: 222px;
    left: 222px;
  }
  .diamond-outer:nth-child(3) {
    top: 389px;
    left: 55px;
  }
  .diamond-outer:nth-child(4) {
    top: 556px;
    left: 222px;
  }
  .diamond-outer:nth-child(5) {
    top: 723px;
    left: 55px;
  }
  .diamond-outer:nth-child(6) {
    top: 890px;
    left: 222px;
  }
  .diamond-outer:nth-child(7) {
    top: 1057px;
    left: 55px;
  }

  .down{
    position: relative;
    margin-top: 50px;
  
  }
   .button_base{
     line-height: 20px;
    width: 200px;
    height: 40px;
   }

}
@media screen and (max-width: 525px) {
  .word,.word2{
    display: none;
  }
  .page_top{
    position: fixed;
    z-index: 3;
    top: 500px;
    right: 5px;
    display: block;  
    font-family:  "Fixedsys", sans-serif;
  }
  .wrapper{
    max-width: 0 auto;
    margin-top: 150px;
  }
  .right_word{
    margin-top: 100px;
  }
  .right_word h1{
    font-family: 'Palatino', 'URW Palladio L', serif;
    font-size: 27px;
    line-height: 50px;
    font-weight: bold;
    color: #221d66;
  }
  .about_me{
    margin-top: 80px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
  }
  .about{
    width: 320px;
    font-size: 20px;
    margin-top: 80px;
    text-align: center;
  }
  .about h1{
    line-height: 80px;
    font-size: 23px;
    font-weight: bold;
    color: #221d66;
  }
  .about p{
    font-family:  "Fixedsys", sans-serif;
    line-height: 30px;
    font-size: 16px;
  }
  .wrapper{
    max-width: 0 auto;
    margin-top: 300px;
  }
  .diamond-container {
    max-width: 314px;
    height:1750px;
  }
  .diamond-outer:nth-child(1) {
    top: 55px;
    left: 45px;
  }
  .diamond-outer:nth-child(2) {
    top: 374px;
    left: 45px;
  }
  .diamond-outer:nth-child(3) {
    top: 693px;
    left: 45px;
  }
  .diamond-outer:nth-child(4) {
    top: 1012px;
    left: 45px;
  }
  .diamond-outer:nth-child(5) {
    top: 1331px;
    left: 45px;
  }
  .diamond-outer:nth-child(6) {
    top: 1650px;
    left: 45px;
  }
  .down {
    position: relative;
    margin-top: 100px;
  }
  .arrow{
    bottom: 50px;
  }
   .button_base{
     line-height: 20px;
    width: 200px;
    height: 40px;
   }
}

  /* ----------------------------------- */
@media only screen and (min-width: 1024px) {
    .word{
        position: absolute;
        z-index: -10;
        width: 50px;
        left: 80px;
        height: 450px;;
        margin-top: 260px;
        display: block;
        letter-spacing:2.5px;
        font-size: 10px;
        font-family:  "Fixedsys", sans-serif;
        color: #140f61;
        -webkit-writing-mode: vertical-lr;
    }
    .word2{
      position: absolute;
      z-index: 5;
      top: 0;
      right: 60px;
      width: 1px;
      height: 250px;
      display: block;
      border-right: 1px solid #140f61a2;   
  }
  .page_top{
    position: fixed;
    z-index: 3;
    top: 630px;
    right: 50px;
    display: block;  
    font-family:  "Fixedsys", sans-serif;
  }
.right_word{
   display: flex;
   flex-direction: column;
   margin: 0 auto;
    width: 650px;
    margin-top: 200px;
  }
  .right_word p{
   font-size: 15px;
   font-family:  "Fixedsys", sans-serif;
 }
 .right_word h1{
   font-family: 'Palatino', 'URW Palladio L', serif;
   font-size: 45px;
   line-height: 65px;
   font-weight: bold;
 }
 .wrapper{
  margin: 0 auto;
  margin-top: 300px;
}
.down{
  position: relative;
  margin-top: 90px;
}
}
